<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">

  <h1>OH YA BUHZID</h1>

  <p>Check out our sick lgtm memes.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3,4,5]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">Generate Markdown &raquo;</a></p>
  </div>
</div>
