<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="margin-top: 30px">
<div class="container">

  <h2>LGTMs for your teammates' pull requests</h2>

  <p>Click 'Copy to clipboard' and paste on GitHub</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" ui-sref="new">or create your own</a>
</div>
</div>

<div class="container">
<!-- Example row of columns -->

<h4>Top</h4>
<hr>

<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3,4,5,6,7,8,9]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p><a class="btn btn-default" href="#" role="button">Copy to clipboard &raquo;</a></p>
  </div>
</div>
