<div class="container-fluid" style="padding-top:65px;">
	<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal" role="form">
				<div class="form-group">

					<label for="title" class="col-sm-2 control-label">
						Title
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="title" ng-model="vm.post.title">
					</div>
				</div>
				<div class="form-group">

					<label for="description" class="col-sm-2 control-label">
						Description
					</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="description" ng-model="vm.post.description">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2">
						<div>
							<label>
								Upload Image
							</label>
							<label class="btn btn-primary">
                Browse&hellip; <input type="file" style="display: none;" ng-model="vm.post.image">
            </label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="submit" class="btn btn-default" ng-click="vm.addNew()">
							Create Post
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
