<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="margin-top: 30px">
<div class="container">

  <h2>Easy Meme Markdown for the masses!</h2>

  <p>Makin it easy pesay lemon squeezy! And we think creating meme markdown should be too!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" ui-sref="new">heck i'll make one</a>
</div>
</div>

<div class="container">
<!-- Example row of columns -->

<h4>Top All Time</h4>
<hr>

<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">Generate Markdown &raquo;</a></p>
  </div>
</div>

<hr>
<h4>Naughty</h4>
<hr>
<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">Generate Markdown &raquo;</a></p>
  </div>
</div>

<hr>
<h4>PG</h4>
<hr>
<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">Generate Markdown &raquo;</a></p>
  </div>
</div>

<hr>
<h4>Political</h4>
<hr>
<div class="row">
  <div class="col-md-4" ng-repeat="item in [1,2,3]">
    <div style="text-align: center; background-color: #eee;border-radius: 5px;">
      <img src="./images/thumbsup.jpg" style="width: 80%; border-radius: 50%;" />
    </div>
    <h2>Sick LGTM</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#" role="button">Generate Markdown &raquo;</a></p>
  </div>
</div>
